nav{
    display: flex;
    border: 1px solid black;
    width: 100%;
    background-color: pink; 
    top: 0px;
   position: fixed;
    
}
.item {
    list-style: none;
    padding: 10px;
    list-style: none;
}
.container{
    border: 2px solid black;
    display: flex;
    background-color:black;
    height: 1000px;
}
.box{
    border: 2px solid black;
    padding: 100px;
    margin: 20px;
    height: 200px;
    
}
.b1{
    background-color: violet;
    
    width: 50%;
}
.b2{
    background-color: blue;
    
    width: 50%;
   
}
.card{
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: 5px;
    height: 150px;
    width: 600px;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
    align-content: center;
}
.foot{
    border: 1px solid black;
    background-color: brown;
    height: 50px;
}
.abbas{
   bottom: 0px;
   position: fixed;
   left: 95vw;

}
*{
    margin: 0;
    padding: 0;
}